include mixins/head.pug
include mixins/navbar.pug

html
    +head
    body
        +navbar(logged, user)
        div(class="container")
            div(class="book-cover")
                img(src=book.coverPath)
            div(class="book-details")
                h1= book.title
                h1
                    small= book.author
                h5 Owned by #{book.user}
                if logged && !userOwnsBook
                    a(class="btn btn-info btn-lg" href="/book/" + book.bookId + "/propose") Propose Trade
