include mixins/head.pug
include mixins/navbar.pug

html
    +head
    body
        +navbar(logged, user)
        div(class="container-fluid")
            each book in books
                div(class="book-img")
                    a(href="/book/" + book.bookId)
                        img(src=book.coverPath)
