include mixins/head.pug
include mixins/navbar.pug

html
    +head
    body
        +navbar(logged, user)
        div(class="container")
            div(class="page-header")
                h1
                    strong #{bookToTradeForTitle}
                    small(class="pull-right") Trade Proposals
            - var proposalNum = 0;
            each proposal in tradeProposals
                div(class="row")
                    div(class="col-sm-6")
                        ul
                            li
                                a(href="/book/" + proposal.bookId) #{proposal.title}
                    div(class="col-sm-6 text-right")
                        form(action="/" + user + "/view/" + bookToTradeForId + "/" + proposalNum
                            method="post")
                            button(type="submit" class="btn btn-success" aria-label="approve")
                                span(class="glyphicon glyphicon-ok" aria-hidden="true")
                - proposalNum++
